<html>
  <head>
    <meta name="viewport" content="with=device-width,initial-scale=0.1" />

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename= 'forum.css')}}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="form.html"
          ><img src="{{ url_for('static',filename= 'seal.jpg')}}"
        /></a>
      </nav>
      <div class="text-box">
        <h1>GROBAGE</h1>
      </div>
      <div class="req">
        <h2>Forum</h2>
        <div class="reqq">
          <h3>Customized forum page for grobage is yet to be added</h3>
          <h3>by Team peripheral plutarch</h3>
        </div>
      </div>
    </section>
  </body>
</html>
