<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grobage sign in</title>
  </head>
  <body>
    <form action="/getOTP" method="post">
      <div>
        <label>Enter Mobile Number</label>
        <input typer="text" name="number" placeholder="+91 9876543210" />
        <button type="submit">Get OTP</button>
      </div>
    </form>
  </body>
</html>
